<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Template</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
    <h2>Welcome to Instagram Page</h2>
    <div id="one">
    <% for(post of posts){ %>
          <h3>ID: <%= post.id %></h3>
          <h4>Username: <%= post.username %></h4>
          <p>Content: <%= post.content %></p>
          <a href="http://localhost:8080/posts/<%=post.id %>">See in Detail</a> &nbsp;
          <a href="http://localhost:8080/posts/<%=post.id %>/edit">Edit</a> &nbsp;
          <form method="post" action="http://localhost:8080/posts/<%=post.id%>?_method=DELETE">
            <button>Delete</button>
          </form>
    <% } %>
    <br>
</div><br>
<div>
    <a href="http://localhost:8080/posts/create">Create a new Post</a>
</div>
</body>
</html>